.wireframe,
.wireframe * {
  box-sizing: border-box;
}
.wireframe {
  background:
 ;
  height: 720px;
  position: relative;
  overflow: hidden;
}
.fondo-jo-jos {
  border-style: solid;
  border-color: #b12f2f;
  border-width: 1px;
  width: 2125px;
  height: 1085px;
  position: absolute;
  left: -845px;
  top: -183px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 2125/1085;
}
.festival-de-animaci-n {
  color: #f54696;
  text-align: left;
  font-family: "OleoScript-bold", sans-serif;
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 446px;
  top: 183px;
  width: 400px;
  height: 81px;
}
.rectangulo-borde-dorado-casillas {
  background: rgba(226, 123, 226, 0.62);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 10px;
  width: 322px;
  height: 559px;
  position: absolute;
  left: 474px;
  top: 253px;
  box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.giorno {
  width: 321px;
  height: 562px;
  position: absolute;
  left: 902px;
  top: 168px;
  object-fit: cover;
  aspect-ratio: 321/562;
}
.logo-jojos {
  width: 444px;
  height: 179px;
  position: absolute;
  left: 409px;
  top: 17px;
  aspect-ratio: 444/179;
}
.borde-dorado {
  background: rgba(217, 217, 217, 0);
  border-radius: 37px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 9px;
  width: 1248px;
  height: 688px;
  position: absolute;
  left: 11px;
  top: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.jolyne {
  width: 398px;
  height: 1184px;
  position: absolute;
  left: -1px;
  top: 93px;
  object-fit: cover;
  aspect-ratio: 398/1184;
}
.rectangle-8 {
  background: #e27be2;
  border-radius: 30px;
  width: 230px;
  height: 14.09%;
  position: absolute;
  right: 40.86%;
  left: 520px;
  bottom: 46.05%;
  top: 39.86%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.info {
  color: #ffffff;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  right: 40.86%;
  left: 600px;
  width: 15.39%;
  bottom: 53.01%;
  top: 42.64%;
  height: 4.35%;
}
.wireframe-info {
  width: 233px;
  height: 96px;
  position: absolute;
  left: 525px;
  top: 292px;
  overflow: hidden;
}
.rectangle-7 {
  background: #e27be2;
  border-radius: 30px;
  width: 230px;
  height: 14.09%;
  position: absolute;
  right: 40.78%;
  left: 520px;
  bottom: 28.55%;
  top: 57.36%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.contacto {
  color: #ffffff;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  right: 40.78%;
  left: 550px;
  width: 15.39%;
  bottom: 35.51%;
  top: 60.14%;
  height: 4.35%;
}
.wireframe-contacto {
  width: 18.2%;
  height: 13.33%;
  position: absolute;
  right: 40.78%;
  left: 41.02%;
  bottom: 28.89%;
  top: 57.78%;
  overflow: hidden;
}
