.wireframe,
.wireframe * {
  box-sizing: border-box;
}
.wireframe {
  background:
  ;
  height: 720px;
  position: relative;
  overflow: hidden;
}
.fondo-jojojojo {
  border-style: solid;
  border-color: #b12f2f;
  border-width: 1px;
  width: 1280px;
  height: 720px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 16/9;
}
.opacidad-fondo {
  background: rgba(179, 108, 230, 0.51);
  width: 966px;
  height: 826px;
  position: absolute;
  left: 314px;
  top: -44px;
}
.r-ectangulos {
  position: absolute;
  inset: 0;
}
.rectangle-11 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 433px;
  top: 303px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-12 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 433px;
  top: 565px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-14 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 433px;
  top: 565px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-15 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 433px;
  top: 438px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-16 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 433px;
  top: 438px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-17 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 433px;
  top: 565px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-18 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 63px;
  top: 303px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-19 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 63px;
  top: 303px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-20 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 63px;
  top: 438px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-21 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 63px;
  top: 438px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-22 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 63px;
  top: 565px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-23 {
  background: rgba(226, 123, 226, 0.47);
  border-radius: 30px;
  border-style: solid;
  border-color: #fedbac;
  border-width: 4px;
  width: 352px;
  height: 115px;
  position: absolute;
  left: 63px;
  top: 565px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.festival-de-animaci-n {
  color: #f54696;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 91px;
  top: 194px;
  width: 400px;
  height: 81px;
}
.josuke {
  width: 255px;
  height: 682px;
  position: absolute;
  left: 932px;
  top: 14px;
  object-fit: cover;
  aspect-ratio: 255/682;
}
.logo-josos {
  width: 444px;
  height: 179px;
  position: absolute;
  left: 37px;
  top: 11px;
  aspect-ratio: 444/179;
}
.logos-y-titulos {
  position: absolute;
  inset: 0;
}
.icon {
  width: 96px;
  height: 70px;
  position: absolute;
  left: 85px;
  top: 460px;
  overflow: visible;
}
.icon2 {
  width: 71.67px;
  height: 70.83px;
  position: absolute;
  left: 91px;
  top: 329px;
  overflow: visible;
}
.icon3 {
  width: 48px;
  height: 85px;
  position: absolute;
  left: 85px;
  top: 580px;
  overflow: visible;
}
.icon4 {
  width: 86px;
  height: 69px;
  position: absolute;
  left: 461px;
  top: 458px;
  overflow: visible;
}
.icon5 {
  width: 80px;
  height: 78px;
  position: absolute;
  left: 463px;
  top: 587px;
  overflow: visible;
}
.icon6 {
  width: 92px;
  height: 62px;
  position: absolute;
  left: 456px;
  top: 330px;
  overflow: visible;
}
.instagram {
  color: #ffffff;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 200px;
  top: 331px;
  width: 197px;
  height: 39px;
}
.twitter {
  color: #ffffff;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 200px;
  top: 468px;
  width: 197px;
  height: 39px;
}
.facebook {
  color: #ffffff;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 200px;
  top: 586px;
  width: 197px;
  height: 66px;
}
.mail {
  color: #ffffff;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 571px;
  top: 459px;
  width: 197px;
  height: 66px;
}
.youtube {
  color: #ffffff;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 561px;
  top: 327px;
  width: 197px;
  height: 66px;
}
.tel-fono {
  color: #ffffff;
  text-align: left;
  font-family: "OleoScript-Regular", sans-serif;
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 571px;
  top: 586px;
  width: 197px;
  height: 66px;
}
.whiteframe-flecha {
  width: 180px;
  height: 82px;
  position: absolute;
  left: 1089px;
  top: 628px;
  overflow: hidden;
}
.flecha {
  width: 53.21px;
  height: 151.84px;
  position: absolute;
  left: 167.01px;
  top: 17.3px;
  transform-origin: 0 0;
  transform: rotate(90.635deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 53.21/151.84;
}
